* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", sans-serif;
  background: -webkit-linear-gradient(to right,#38ef7d,#11998e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,#38ef7d,#11998e); 
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #38ef7d, #11998e);
  border-radius: 10px;
  height: 150px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to right, #11998e, #38ef7d);
}

::-webkit-scrollbar-track {
  background: #38ef7d;
}
