* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", sans-serif;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #e1b382, #c89666);
  border-radius: 10px;
  height: 150px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to left, #e1b382, #c89666);

}

::-webkit-scrollbar-track {
  background: rgba(51, 51, 51, 0.073);
}
