.todolist {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 90vh;
}

.todolist h2 {
  font-size: 40px;
  /* background: linear-gradient(to bottom, #38ef7d, #119982); */
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 50px;
  padding: 20px 0;
}

.todolist input {
  margin: 20px 0;
  width: 20%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.todolist input:focus {
  box-shadow: 0 0 5px #ddd;
}
.todolist li {
  font-size: 20px;
  margin: 10px 0;
  font-style: italic;
  font-weight: 600;
  list-style: none;
}
.todolist .btn {
  all: unset;
  font-weight: 600;
  padding: 7px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  font-style: normal;
  margin-left: 15px;
}

.todolist .btn-danger {
  background-color: darkred;
  background: linear-gradient(to top, #38ef7d, #11998e);
  font-size: 16px;
}

.todolist .btn-info {
  background: linear-gradient(to top, #38ef7d, #11998e);
  font-size: 20px;
  margin-top: 0;
  font-weight: bold;
}

@media (max-width: 600px) {
  .todolist input {
    width: 60%;
  }
}
